{% extends 'user/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Қазақ поэзиясы — Шығарма ұсыну{% endblock %}
{% block cabinetblock %}
	<h4>Шығарма ұсыну</h4>
	{% if messages %}
		{% for message in messages %}
		<p class="text-warning">{{ message }}</p>
		{% endfor %}
	{% endif %}
    <div class="offer-form-container">
		<form role="form" class="form-horizontal" method="post" action="{% url 'user:offer_poem' %}">
		    {% csrf_token %}
		    {{ form|crispy }}
		    <input class="btn btn-primary" type="submit" value="Ұсыну" />
		    <input type="hidden" name="next" value="{{ next }}" />
		</form>
    </div>
{% endblock cabinetblock %}