{% extends 'poetry/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{% block og-title %}Қазақ поэзиясы — Тіркелу{% endblock %}{% endblock %}
{% block description %}{% block og-description %}Қазақ поэзиясы — Тіркелу{% endblock %}{% endblock %}
{% block content %}
<div class="col-sm-6">
    <fieldset>
        <h3>Тіркелу</h3>
        <div class="panel-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <p><input type="submit" class="btn btn-lg btn-primary btn-block" value="Тіркелу"/></p>
            </form>
        </div>
    </fieldset>
</div>
{% endblock content %}