{% extends 'poetry/poet-page.html' %}
{% block title %}{% block og-title %}Қазақ поэзиясы — {{poet.name}}. Ең көп қаралған шығармалары{% endblock %}{% endblock %}
{% block description %}{% block og-description %}Қазақ поэзиясы — {{poet.name}}. Ең көп қаралған шығармалары{% endblock %}{% endblock %}
{% block poetblock %}
	<h3>Ең көп қаралған шығармалар</h3>
	<ul class="poet-poems-list">
    {% for poem in poet.poems_top %}
    	<li>
			\ <a href="{% url 'poetry:poem' poet.id poet.slug poem.id %}">{{ poem.title }}</a>
			<span class="items-count">({% if poem.view__views_count %}{{poem.view__views_count}}{% else %}0{% endif %})</span>
    	</li>
    {% endfor %}
    </ul>
{% endblock poetblock %}
