/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
a {
	color: #0072b1;
}
/*a:visited {
	color: #983285
}*/
ul.standart-list {
  margin: 0;
  padding: 0;
  list-style: none;  
  margin-left: 25px;
}
ul.standart-list li {
  margin-top: 6px;
  margin-bottom: 6px;
}
.poets_list {
  padding-top: 10px;
}     
.poets_list ul {
	margin: 0;
	padding: 0;
	list-style: none;
} 		
.age-menu {
  margin-top: 20px;
}
.poets_list ul li {
	padding-left: 20px;
}
.poets_list ul li a {
  text-decoration: underline;
}
ul.list-for-letter li {
	padding-top: 6px;
	padding-bottom: 6px;
  padding-left: 30px;
}
.poets_list ul.left {
	float: left;
	width: 50%;
}  
.list_column {
  float: left;
  margin: 0 10px !important;
}
ul.li-menu, ol.ol-li-menu {
  margin:0;
  padding: 0
} 
ul.li-menu li {
  list-style: none;
  padding: 5px 0;
}
ul.li-menu li a, ol.ol-li-menu li a {
  font-size: 14px;
}
.widget-title {
  font-size: 14px;
  font-weight: bold;
}
.dropdown-toggle {
  background: none !important;
}
.letter-li {
  padding-bottom: 20px;
}
.last-added-poems-widget ol, .top-poems-widget ol {
  margin-left: 20px;
}
.poets_list ul.right {
	float: right;
	width: 50%;
} 	
.asteriskField {
  padding-left: 2px;
}
h4 {
  color: #0072b1;
}	
/*		.poets_list ul.letters_list {
	list-style: none; 
    -moz-column-count: 2;
    -moz-column-gap: 2.5em;
    -webkit-column-count: 2;
    -webkit-column-gap: 2.5em;
     column-count: 2;
     column-gap: 2.5em;			
}*/
.items-count {
  color: #888;
  font-size: 12px;
}
.list-letter {
	float: left;
	font-size: 22px
}
/*.list-letter a {
  color: #888;
}*/
.list-for-letter {
	padding-top: 5px !important;
}
.list-for-letter a {
  font-size: 14px; 
}
.list-for-letter a:hover {
  text-decoration: none;
}
.navbar-nav a {
	color: #0072b1 !important;
}
.poem-content {
    font-family: Georgia,sans-serif;
    font-size: 16px;
    margin-left: 20px;
    line-height: 28px;	
}
.content ol {
  margin-left: 10px;
}
.poet-poems-list {
  padding-top: 10px;
}
ul.poet-poems-list {
  list-style: none;
}
ul.poet-poems-list li {
  padding: 7px 0;
}
ul.poet-poems-list li a {
  text-decoration: underline;
}
.offer-form-container {
    padding: 0 20px;
}
.offer-form-container .selectmultiple {
    height: 200px;
}